.profile__menu {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  margin: 15px 0 0;
  width: 100%;
  background-color: yellow;
  height: 70px;
}

@media screen and (max-width: 767px) {
  .profile__menu {
    height: 35px;
    width: 282px;
  }
}