.popup__close-button {
    width: 358px;
    height: 50.15px;
    background-color: rgb(95, 95, 95);
    color: white;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    margin: 15px 0 36.51px;
    border-radius: 2px;
    border-style: none;
    cursor: pointer;
}

.popup__close-button:hover {
    background-color: red;
}


@media screen and (max-width: 767px) {
    .popup__close-button {
        width: 200px;
        height: 40px;
        margin: 36px 0 0;
        font-size: 14px;
        line-height: 17px;
    }
}