.card__top {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 282px;
  height: 40px;
  margin: 20px 0 0;
  justify-content: center;
  align-items: center;

  background-color: black;
}