.profile__top {
  width: 100%;
  height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url(https://gamerwall.pro/uploads/posts/2022-03/1647412493_1-gamerwall-pro-p-udar-molnii-art-krasivie-oboi-1.jpg);
  background-position: top;
  background-repeat: no-repeat;
  position: relative;
}