.authorization {
    min-width: 882px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: white;
}

@media screen and (max-width: 767px) {
    .authorization {
        min-width: 320px;
    }
}