.authorization__enter {
    margin: 15px auto 48px;
    text-align: center;
    color: white;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
}

@media screen and (max-width: 767px) {
    .authorization__enter {
        width: 260px;
        margin-bottom: 40px;
    }
}