.profile__menu-button {
  padding: 10px 40px;
  border-radius: 2px;
  border: none;
  border: 2px solid white;
  background-color: transparent;
  color: white;
  box-sizing: border-box;
  margin-right: 20px;
  cursor: pointer;
  font-size: 18px;
}

.profile__menu-button:last-of-type {
  margin-right: 0;
}

.profile__menu-button:hover {
  opacity: .6;
}