.full-card__subtitle {
  font-size: 20px;
  font-weight: 600;
  margin: 10px 20px 0;
  text-align: center;
}

@media screen and (max-width: 1023px) {
  .full-card__subtitle{ 
    font-size: 16px;
  }
}

@media screen and (max-width: 767px) {
  .full-card__subtitle{ 
    font-size: 14px;
  }
}