.profile__edit-avatar {
    z-index: 2;
    margin: 0;
    padding: 0;
    width: 120px;
    height: 120px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    border-radius: 50%;
    grid-row: 1/2;
    grid-column: 1/2;
}

.profile__edit-avatar:hover {
    background-color: rgba(0, 0, 0, 0.8);
    background-image: url(../../../images/edit-avatar-button.svg);
    background-position: center;
    background-repeat: no-repeat;
}

