.profile__add-button {
    background-color: transparent;
    width: 282px;
    min-height: 50px;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 2px;
    background-image: url(../../../images/profile-add-button.svg);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin-top: 30px;
}

.profile__add-button:hover {
    border: 3px solid yellow;
}

@media screen and (max-width: 1023px) {
    .profile__add-button {
        width: 282px;
        margin-left: 0;
    }
}

@media screen and (max-width: 767px) {
    .profile__add-button {
        width: 282px;
        margin-left: 0;
        margin-top: 36px;
        background-size: 16px;
    }
}


