.popup__input-name {
  word-wrap: normal;
  margin-top: 30px;
  margin-bottom: 0;
  color: black;
  font-size: 16px;
  font-weight: bold;
  width: 358px;
}

.popup__input-name:first-child {
  margin-top: 0;
}

@media screen and (max-width: 767px) {
  .popup__input-name {
    width: 204px;
    font-size: 14px;
  }
}