.card__title {
  width: 180px;
  color: white;
  text-align: center;
  height: 30px;
  font-size: 18px;
  line-height: 1.7;
  font-weight: bolder;
  margin: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
}