.card__title {
  width: 180px;
  color: white;
  text-align: center;
  height: 30px;
  font-size: 22px;
  font-weight: bolder;
  margin: 0;
  background-color: black;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
}