.profile__name {
    max-width: 400px;
    font-weight: 500;
    font-size: 42px;
    line-height: 133%;
    margin-bottom: 0;
    margin-top: 30px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
}

.profile__name:hover {
    opacity: .8;
}

.profile__name_full {
    white-space: normal;
    text-overflow: clip;
    overflow: visible;
}

@media screen and (max-width: 767px) {
    .profile__name {
    max-width: 189px;
    font-size: 27px;
    line-height: 56px;
    text-align: center;
    }
}