.profile__container {
  width: 882px;
  min-height: 120px;
  margin: 10px auto 0;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  align-items: center;
  color: #ffffff;
  position: relative;
}

@media screen and (max-width: 1023px) {
  .profile__container {
      max-width: 582px;
      flex-direction: column;
  }
}

@media screen and (max-width: 767px) {
  .profile__container {
      max-width: 282px;
      flex-direction: column;
      margin: 40px 19px 0;
  }
}
